body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  width: 1440px;
  height: 124px;
  background-color: white;
  border: 1px solid rgba(195, 212, 233, 0.4);
}

header .row {
  padding: 40px 0;
  margin: 0;
}

header input {
  background: #ffffff;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  display: flex;
  align-items: center;
  width: 492px;
}

.logo {
  padding: 0 0 0 60px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  letter-spacing: 1px;

  color: #3563e9;
}

.icons li {
  opacity: 0.8;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  display: inline;
  padding-right: 10px;
  width: 44px;
}

.icons {
  padding-right: 32px;
}

.main {
  margin: 0;
  padding: 0;
}

.side-bar {
  border-right: 1px solid #f3f5f7;
  padding: 0;
}
.side-bar h7 {
  color: #94a7cb;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  padding-bottom: 30px;
}

.side-bar ul {
  list-style: none;
}

.display {
  background-color: #f6f7f9;
}

.first-block {
  margin: 32px 20px;
}

.pictures {
  margin: 0;
}
.main-view {
  background: #3563e9;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
  width: 492px;
  height: 360px;
}

.main-view h1 {
  padding: 24px 96px 16px 24px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}

.main-view h3 {
  padding: 0 184px 48px 25px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.main-view img {
  margin: 0 auto;
  display: block;
}

.description {
  padding: 0 24px;

  border-radius: 10px;
  background-color: #ffffff;
}
.description h2 {
  padding-top: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: #1a202c;
}

.description h7 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #3d5278;
}
.description p {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;

  letter-spacing: -0.02em;

  color: #3d5278;
}

.car-details {
  padding-top: 10px;
}

.weak {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: -0.02em;

  color: #90a3bf;
}

.strong {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: -0.02em;

  color: #3d5278;
}

.car-details .weak,
.car-details .strong {
  display: flex;
  align-items: center;
  text-align: right;
}

.final-info {
  padding: 68px 0 32px 0;
  margin: 0;
}
.price {
  font-weight: 700;
  font-size: 23px;
  line-height: 35px;

  color: #1a202c;
}
.days,
.old-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #90a3bf;
}

.old-price {
  text-decoration-line: line-through;
}

.btn {
  background: #3563e9;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.view1 {
  background-color: #3563e9;
  border: 2px solid #3563e9;
}
.view1 img {
  width: 116px;
  height: 36px;
  display: block;
  margin: 40px auto;
}
.view1,
.view2 img,
.view3 img {
  width: 148px;
  height: 124px;
  border-radius: 10px;
  margin-right: 15px;
}

.review {
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px 20px;
}

.review ul li {
  display: inline;
}

.review .headline {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  letter-spacing: -0.02em;
  margin: 24px 10px 0 24px;
  color: #1a202c;
}

.review button {
  margin-top: 24px;
  background: #3563e9;
  border-radius: 4px;
  padding: 0px 15px;
  border: 1px solid #3563e9;
  color: #ffffff;
}

.review1 {
  display: flex;
  flex-direction: row;
}
